*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    font-family: sans-serif;
    padding-inline: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h1{
    text-align: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.range, .radios,.themes, .start-game, .quiz-game, .game-result{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.hide{
    display: none;
    pointer-events: none;
}
.checkbox-box{
    display: flex;
}