
:root {
    --history: #a3c000;
    --science: #4fbe49;
    --geography: #e35a5a;
    --art: #ff9640;
    --general: #83ceff;
    --mythology: #c38ffa;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
nav ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin: 0;
    font-family: sans-serif;
    padding-inline: 3rem;
    padding-bottom: 1rem;
    background-image: url(../assets/phone-background.svg);
    background-size:cover;
    background-color: #3ABAFA;
}
@media screen and (min-width: 768px) {
    body{
        background-image: url(../assets/tablet-background.svg);
    }
}
@media screen and (min-width: 1024px) {
    body{
        background-image: url(../assets/deskop-backgorund.svg);
        background-size: auto;
    }
}

h1{
    font-family: "Londrina Solid";
    text-shadow: 1px 4px #000;
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    h1{
        font-size: 4rem;
        text-shadow: 1px 5px #000;
    }
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form, .range, .radio-container,.themes, .start-game, .quiz-game, .game-result{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.form{
    flex-direction: column;
    align-items: center;   
    width: 320px;
    justify-content: center;
    background-color: white; 
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-inline: 0.5rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 2px 6px black;
    gap: 1.2rem;
    margin-bottom: 2rem;
    position: sticky;
}

@media screen and (min-width: 768px) {
    .form{
        width: 400px;
    }
}
/*Range*/
.range{
    gap: 1rem;
}
/*Clases de los radios*/
.radios{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.radio-input {
    appearance: none;
}

.radio-label {
    display: inline-block;
    padding: 8px 8px;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    background-color: #D6D6D6;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.radio-input:checked + .radio-label {
    background-color: #3ABAFA;
    background-image:radial-gradient(50% 50% at 50% 50%, #70c6f1 0%, #3ABAFA 100%);
}

/*Clases para el CheckBox (temas)*/
.checkbox-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
}
.label{
    font-size: 0.77rem;
    display: block;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    background-color: #D6D6D6;
    box-shadow: 0px -3px#000 inset;
}
.input-checkbox{
    appearance: none;
}
.input-checkbox:checked + .label {
    background-color: var(--history);
    box-shadow: none;
    box-shadow: -1px -1px rgba(255, 255, 255, 0.25) inset, 1px 1px rgba(255, 255, 255, 0.25) inset;
}
@media screen and (min-width: 768px) {
    .label{
        font-size: 1rem;
    }
}
/*boton de jugar*/
.start-game{
    position: absolute;
    top: 435px;
    padding: 8px 3rem;
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid black;
    background: white;
    box-shadow: 2px 5px #000;
    font-family: "Londrina Solid";
    font-size: 2rem;
}
.start-game:disabled{
 background-color: #acacac;
}
@media screen and (min-width: 768px) {
    .start-game{
        top: 450px;
    }
}
/*Quiz Start*/
.quiz-game{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    text-align: center;
    gap: 2rem;    
  }
.question-title{
    display: flex;
    font-size: 20px;
    padding: 40px 16px;
    width: 350px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 2px 5px 0px 0px #000;
}
.answers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;  
}
.answer{
    display: flex;
    width: 160px;
    height: 80px;
    font-size: 0.8rem;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid #000;
    background: #FFF;
}
.quiz-time{
    display: flex;
    width: 75px;
    height: 75px;
    padding: 7px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px solid #FFF;
    background: #3ABAFA;
    color: #FFF;
    font-size: 2rem;
}
/*Resultados*/
.game-result{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline: 2rem;
    border-radius: 32px;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 2px 5px 0px 0px #000;
    gap: 1rem;
}
.restart-button{
    color: #FFF;
    text-align: center;
    font-family: "Londrina Solid";
    font-size: 24px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 2px solid black;
    background: #3ABAFA;
    box-shadow: 2px 4px #000;
}
.hide{
    display: none;
    pointer-events: none;
}